<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand logonav" routerLink='' style="width:10%;"><img src="../../assets/img/labtemp.png" style="width:100%;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink='' data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Home</a>
        <a class="nav-link" routerLink="produits" data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Tous nos produits</a>
        <a class="nav-link" routerLink='produits/type/1' data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Robe</a>
        <a class="nav-link" routerLink='produits/type/2' data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Bas</a>
        <a class="nav-link" routerLink='produits/type/3' data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Haut</a>
        <a class="nav-link" routerLink='produits/type/4' data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Chaussures</a>
        <a class="nav-link" routerLink='produits/type/5' data-target="#navbarNavAltMarkup" routerLinkActive="active-link">Accessoires</a>
      </div>
    </div>
</nav>


